      <ul class="nav nav-pills">
        <li class="nav-item"><NavLink href="/" class="nav-link" Match="NavLinkMatch.All" aria-current="page">Главная</NavLink></li>
        <li class="nav-item"><NavLink href="/datasource" class="nav-link">Источники</NavLink></li>
        <li class="nav-item"><NavLink href="/datavalues" class="nav-link">Данные</NavLink></li>
        <li class="nav-item"><NavLink href="/about" class="nav-link">О программе</NavLink></li>
      </ul>
